<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">Productos disponibles</h5>
        <table class="table table-bordered-table table-hover">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                <% for( let i = 0; i< productos.length ; i++) {%>
                    <tr>
                        <td style="color: black;"><%=productos[i].nombre %></td>
                        <td style="color: black;"><%= productos[i].descripcion %></td>
                        <td style="color: black;"><%= productos[i].codigo %></td>
                        <td style="color: black;"><%= productos[i].precio %></td>
                        <td style="color: black;"><%= productos[i].stock %></td>                                        
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div-card-body>
</div>